html
    head
        title Customer
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        .row
            .col
                a(href="/Logout") Logout
        .row
            .col
                h3 Customer User Page #{ID}
        form(method="post")
            .row   
                .col-2
                    //this will be implemented to work with user ID
                    button(name="dropDown" type="submit" class="btn btn-primary" value=ID formaction="/addOrder") Order
                .col-2
                    button(name="dropDown" type="submit" class="btn btn-primary" value=ID formaction="/selfUpdateCustomer") Update profile Info
                .col-2
                    button(name="dropDown" type="submit" class="btn btn-primary" value=ID formaction="/CustomerSteamerOrder") Add Glove Steamer Order
                .col-2
                    button(name="dropDown" type="submit" class="btn btn-primary" value=ID formaction="/viewPriorPurchases") View Prior Purchases
