html
    head
        title New Steam Order
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        .container
            .row
                .col
                    a(href="/Reports") Reports
                .col 
                    a(href="/AdminPage") Home
                .col
                    a(href="/Logout") Logout
        h3 New Steam Order
        form(method="post" )
            .row
                .col
                    label Select Customer ID:
            .row
                .col
                    select(name='CusID', id='item') 
                        for cus in customers
                            option(name="select" value=cus.Cus_ID) #{cus.Cus_ID}
                .col
                    if(messages.CusID)
                        p #{messages.CusID}
            .row
                .col
                    label Select Employee ID:
            .row
                .col
                    select(name='EmpID', id='item')
                        for emp in employees
                            option(name="select" value=emp.Emp_ID) #{emp.Emp_ID}
                .col
                    if(messages.EmpID)
                        p #{messages.EmpID}
            .row
                .col-2
                    button(type="submit" class="btn btn-primary" formaction="/addSteamerOrderAction") Submit
                .col-2
                    button(type="button" class="btn btn-primary" onclick="history.back()") Back
            