html
    head
        title Update Employee
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        .container
            .row
                .col
                    a(href="/Reports") Reports
                .col 
                    a(href="/AdminPage") Home
                .col
                    a(href="/Logout") Logout
        h3 Update Employee
        form(method="post")
            .row
                .col-2
                    label First Name:
                .col-2
                    input(type="text" name="fname" value=data[0].First_Name) 
            .row
                .col-2
                    label Last Name: 
                .col-2
                    input(type="text" name="Lname" value=data[0].Last_Name) 
            .row
                .col-2
                    label Gender:
                .col-2
                    input(type="text" name="Gender" value=data[0].Gender) 
            .row
                .col-2 
                    label Email:
                .col-2
                    input(type="text" name="email" value=data[0].Email) 
            .row
                .col-2 
                    label Salary:
                .col-2
                    input(type="text" name="salary" value=data[0].Salary) 
            
            .row
                .col-2
                    button(type="submit" class="btn btn-primary" formaction="/updateEmployeeAction") Submit
                .col
                    button(type="button" class="btn btn-primary" onclick="history.back()") Back
